/*v1.2.30*/

.bd.widget
{
	border-top: solid;
	border-bottom: solid;
	border-width: thin;
	margin: auto;
	padding: 1em;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10%;
  position: relative;
}

img.beta 
{
  padding-left: 1em;
  vertical-align: middle;
}

.bd img.beta
{
  position: absolute;
  right: 1em;
  padding-right: 1em;
  padding-top: 1em;
}



div.bd.button:hover div.tip{
    /* Chrome, Safari, Opera */
    -webkit-animation-name: tipdelay;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    /* Standard syntax */
    animation-name: tipdelay;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
  	}

/* Chrome, Safari, Opera */
@-webkit-keyframes tipdelay {
    0%   {opacity:0;}
    100% {opacity:0.8;}
}

/* Standard syntax */
@keyframes tipdelay {
    0%   {opacity:0;}
    100% {opacity:0.8;}
}

div.bd.button div.tip {
	  position:absolute; display:none;
	  color:#EEE;
;   z-index:10;  padding:5px 5px;
    top:100%; left:0;
    width:auto; 
    line-height:130%; text-align: left;
    background:#333;
    border:2px solid #000;  border-radius:10px;
    box-shadow: 1px 1px 4px 2px #444;
    opacity: 0.8;
    margin-top:12px;
    }

div.bd.button.show:hover div.tip {
    opacity:0;
    display:inline; 
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

div.bd.button img.callout {z-index:20;position:absolute;border:0;top: -14px;left:5em; opacity:0.5;}
    
div.bd.button div.tip p.dict
{
	margin:0.2em 0;
	padding:0;
}

div.bd.button div.tip p.detail
{
	width: 10em;
	float: right;
	margin: 0;
}

div.bd.button div.tip p.detail.lead
{	
	font-style: italic;
	position: relative;
	width: auto;
	float: left;
	margin:0;
	padding: 0 0.5em 0 0;
}


div.bd.button 
{
	background-color: #000;
	display: inline-block;
  position: relative;
	padding: 0.3em 0.8em 0.2em 0.8em;
	margin: 0.5em;
	text-align: center;
	border-color: #CCC;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px 3px 2px 1px;
	width: auto;
	/*font-size: small;*/
}

div.bd.button:before
{
	content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}


div.bd.button.live:hover
{
		cursor: pointer;
		background-color: #333;
		border-color: #DDD;
}



div.bd.button img 
{
	vertical-align: middle;
	display: inline;
  padding-right: 0.5em;
}



div.bd.button.tibbed
{
	border-style: none;
	cursor: default;
}


div.bd.button span.annotation
{
	color: #DDD;
	text-align: center;
	display:inline-block;
	vertical-align: middle;
	line-height: 100%;
	padding: 0 1em 0 0;
}


div.bd.button .count
{
	vertical-align: text-top;   
	color:#CCC;
	font-size: large;
	display: inline;
}



input[type='text'].bd
{
	vertical-align: middle;
	width: auto;
	display: inline;
}

.bd input[type=submit]
{
  width: 10em;
}

.bd input[type=submit][disabled], .bd input[type=submit]:disabled
{
  opacity: 0.2;
}

span.bd.status
{
  vertical-align: middle;
  font-weight: bold;
  font-size: 160%;
}


